@{
    ViewData["Title"] = "Index";
}

<div id="titleBar" class="header-content">
    <h1>Here are the results of the test(s) most recently executed:</h1>
    <p></p>
</div>

<input type="button" title="Save Report" value="Save" />