@{
    ViewData["Title"] = "Index";
}

<div id="titleBar" class="header-content">
    <h1>Please select which page you would like to navigate to using the top navigation bar.</h1>
    <p>Here are some details of the current project:</p>
    <p>Possibly list total number of active, WIP, skipped, always-run tests.</p>
</div>

@*<input onclick="location.href='@Url.Action("Selection")'" type="button" title="Selection" value="Selection" />
<input onclick="location.href='@Url.Action("Report")'" type="button" title="Report" value="Report" />*@
