@model IEnumerable<CanopyTestAdapter.Models.Test>

@{
    ViewData["Title"] = "Selection Page";
}

<div id="titleBar" class="header-content">
    <h1>Please select a test(s) to run:</h1>
</div>

@if (Model != null)
{
    @foreach (var i in Model)
    {
        <label><input type="checkbox" id="@i.Id" value="@i.Title">@i.Title</label>
    }
    <p></p>
    <input type="button" title="Run Tests" value="Run" />
}
